.container {
    display: grid;
}

.container {
    display:grid;
    margin: 2rem auto;
    width: 600px;
}

.container {
    display: grid;
    grid-gap: 10px;
    border-style: solid;
    border-color: darkgray;
    grid-gap: 5px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 100px 275px 225px 75px;
    margin: auto;
    max-width: 1000px;
    width: 90%;
}



.grid-item-header {
    background-color: dodgerblue;
    color:white;
    vertical-align:central;
    grid-column: 1 / span 6;
    
}

.grid-item-main-content {
    text-align: center;
    background-color: chartreuse;
    color: white;
    grid-column: 2 / span 3;
   
}

.grid-item-sidebar {
    text-align: center;
    background-color: rgb(204, 102, 255);
    color: white;
    grid-column: 5 / span 1;
}

.grid-item-twin1{
    text-align:center;
    background-color: orange;
    color:white;
    grid-column: 2 / span 2;
}
.grid-item-twin2{
    text-align:center;
    background-color: orange;
    color: white;
    grid-column: 4 / span 2;
}

.grid-item-footer {
    background-color: blue;
    color: white;
    grid-column: 1 / span 6;
}

p.center {
    text-align: center;
    margin-top: 25%;
}

p{
    margin-left:15px;
    color:white;
    font-size:30px;
}